<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap mp com desktop">

	<Identity
	  Name="AkazaRenn.82975CBC0BB1"
	  Publisher="CN=92F75277-E533-4C36-9417-4BC1004ABAD7"
	  Version="1.1.2.0" />

	<Properties>
		<DisplayName>Fruit Language Switcher</DisplayName>
		<PublisherDisplayName>Akaza Renn</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="Fruit Language Switcher"
			  Description="FruitLanguageSwitcher"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png" BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square310x310Logo="Assets\LargeTile.png"  Square71x71Logo="Assets\SmallTile.png" ShortName="durian">
				</uap:DefaultTile >
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="portraitFlipped"/>
					<uap:Rotation Preference="landscapeFlipped"/>
					<uap:Rotation Preference="portrait"/>
					<uap:Rotation Preference="landscape"/>
				</uap:InitialRotationPreference>
				<uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge"/>
			</uap:VisualElements>
			<Extensions>

				<!--Specify which CLSID to activate when toast clicked-->
				<desktop:Extension Category="windows.toastNotificationActivation">
					<desktop:ToastNotificationActivation ToastActivatorCLSID="9A19103F-16F7-4668-BE54-9A1E7A4F7556" />
				</desktop:Extension>
				<desktop:Extension Category="windows.startupTask" Executable="FruitLanguageSwitcher.exe" EntryPoint="Windows.FullTrustApplication">
					<desktop:StartupTask TaskId="MyStartupId" Enabled="false" DisplayName="Fruit Language Switcher" />
				</desktop:Extension>

				<!--Register COM CLSID LocalServer32 registry key-->
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer Executable="FruitLanguageSwitcher.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
							<com:Class Id="9A19103F-16F7-4668-BE54-9A1E7A4F7556" DisplayName="Toast activator"/>
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>

			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>

	<mp:PhoneIdentity PhoneProductId="96fcb100-33e4-4922-bef7-1a6b5a8b96ad"
					  PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
</Package>
